body {
    background: #1b1a19;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 100;
}

.droneIcone {
    width: 43px
}

.video {
    border-bottom-width: 0px;
    padding-top: 61px;
    border-top-width: 0px;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#spanGroup span {
    color: #ea1c2c;
}

#spanGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #272525;
    transition: 500ms;
}

@media (max-width: 1200px) {
    #spanGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}

.navbar-default {
    transition: 500ms ease;
    background: transparent;
}

#title {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 1.125rem;
}

.lolli p {
    color: #e3f498;
    margin-bottom: 53px;
}

.lolli h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.marginTop {
    margin-top: 100px;
    margin-bottom: 100px;
}

@media only screen and (min-width:300px) {
    #centerTitle {
        align-content: center;
        text-align: center;
    }
    #title {
        font-size: 1.3rem;
        font-family: "Impact", fantasy;
        margin-top: 220px;
    }
    #startBtn {
        align-content: center;
        text-align: center;
        margin-top: 116px;
    }
}

@media only screen and (min-width:600px) {
    #centerTitle {
        align-content: center;
        text-align: center;
    }
    #title {
        font-size: 2rem;
        font-family: "Impact", fantasy;
        margin-top: 220px;
    }
    #startBtn {
        align-content: center;
        text-align: center;
        margin-top: 116px;
    }
}

@media only screen and (min-width:900px) {
    #centerTitle {
        align-content: center;
        text-align: center;
    }
    #title {
        font-size: 4rem;
        font-family: "Impact", fantasy;
        margin-top: 220px;
    }
    #startBtn {
        align-content: center;
        text-align: center;
        margin-top: 116px;
    }
}

@media only screen and (min-width: 1320px) {
    #centerTitle {
        align-content: center;
        text-align: center;
    }
    #title {
        font-size: 6rem;
        font-family: "Impact", fantasy;
        margin-top: 220px;
    }
    #startBtn {
        margin-top: 10%;
        align-content: center;
        text-align: center;
        margin-top: 116px;
    }
}

/*stop left right scrolling */

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
